@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
    background-color: #161513;
}
  

.darkmodeicon{
    position: fixed;
    z-index: 999;
    top: 20px;
    left:50px;
}


/* responsive*/

@media(max-width:1400px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:40px;
    }
    
    
}

@media(max-width:1200px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:20px;
    }
    
    
}

@media(max-width:992px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:20px;
    }
    
    
}

@media(max-width:768px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:20px;
    }
    
    
}


@media(max-width:576px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:20px;
    }
    
    
}

@media(max-width:360px) {
 .darkmodeicon{
        position: fixed;
        z-index: 999;
        top: 20px;
        left:15px;
    }
    
}