@font-face {
    font-family:Outfit-regular ;
    src: url('./Fonts/OutfitFont/Outfit-Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}



html , body{
    font-family:Outfit-regular ;
    overflow-x: hidden;
    background-color: #161513;;
    scroll-behavior: smooth; 
    
    
}

input::placeholder{
    font-family:Outfit-regular ;
}

.dark-mode {
    background-color: #fff;
}



  


